body {
    background: #15171e;
}

.slogo {
    width: 11rem;
}

header {
    min-height: 10vh;
}
header ul>li{
    font-size: 1.1rem !important;
}
.collapse {
    display: flex;
    justify-content: end;
}

.mc-1 {
    border-bottom: 0.01rem solid #cdcdcd;
}

label,
.nav-link {
    color: rgb(253, 231, 244);
}

.actbtn {
    border-bottom: 0.15rem solid rgb(217 3 104);
}

.bgb,
th {
    background-color: rgb(217 3 104);
}

th {
    background-color: rgb(198, 25, 106) !important;
}

main {
    min-height: 80vh;
}

.forms {
    display: flex;
    justify-content: space-around;
}

.img-ca {
    object-position: center;
    object-fit: cover;
    height: 10rem;
}

.bg-btn {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1.6rem;
    height: 1.6rem;
    border: 0.01rem solid rgb(217 3 104);
}

.bton {
    width: 24rem;
}

.card {
    width: 16rem;
    height: 23rem;
    text-align: justify;
    background-color: #28292f;
    color: #b2b2b2;
    border-radius: 0.8rem;
    box-shadow: -2px -2px 24px 1px rgba(0, 0, 0, 0.66);
}

.card p {
    line-height: 1.3rem;
}

.card-img-personal {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 0.8rem 0.8rem 0 0;
}

.card .fs-date {
    font-size: 0.9rem;
}

.card-details {
    width: 40rem;
    display: flex;
    background-color: #24252e;
    color: #b2b2b2;
    box-shadow: -2px -2px 24px 1px rgba(14, 13, 13, 0.66);
}

.card-img-personal-details {
    width: 50%;
    height: 20rem;
    object-fit: cover;
    object-position: center;
}

.card-body-details {
    width: 20rem;
    height: 20rem;
}

.bg-table {
    background-color: #24252e;
}

footer {
    min-height: 10vh;
    background-color: rgb(19, 19, 19);
}

.social-media {
    width: 2.2rem;
    border-radius: 50%;
}

.form-style {
    max-width: 40rem;
    background-color: #24252e;
    box-shadow: -2px -2px 24px 1px rgba(14, 13, 13, 0.66);
}

.c-table-style {
    max-width: 70rem;
}

tr {
    background-color: #212228;
    height: 1.5rem;
}
.subth{
    font-weight: bold;
}
td,
th,
tr {
    font-size: 1.2rem;
    padding: 0.4rem !important;
}

td>span {
    color: rgb(196, 163, 188);
}

tr:hover {
    background-color: #2d2e36;
}

.columns {
    width: 40%;
}

fieldset {
    margin: 0.5rem 0 0.5rem 0;
}

.label {
    font-size: 1.2rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.hcarrusel {
    height: 6rem;
    background-color: rgb(19, 19, 19);
}

.carrusel1,
.carrusel2,
.carrusel3 {
    height: 6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carrusel1 {
    background-image: url("https://st2.depositphotos.com/1594308/5547/i/450/depositphotos_55474203-stock-photo-friends-dancing-at-party.jpg");
}

.carrusel2 {
    background-image: url("https://as2.ftcdn.net/v2/jpg/02/39/98/29/1000_F_239982949_JpnIJrL0r9qXaI6YzCh25XIPgHiL5JoE.jpg");
}

.carrusel3 {
    background-image: url("https://st3.depositphotos.com/9880800/16572/i/1600/depositphotos_165724742-free-stock-photo-barman-mixing-cocktail.jpg");
}

a:hover {
    color: whitesmoke !important;
}

.message {
    width: 100%;
    font-size: 2rem;
    color: aliceblue;
    margin: 4rem auto;
    text-align: center;
}

.img-search {
    width: 20rem;
    height: 11rem;
    object-fit: cover;
    object-position: top;
    border-radius: 0 0 8rem 8rem;
}

.price {
    text-align: center;
    width: 6rem;
    border-radius: 0.5rem;
    background-color: rgb(217 3 104);
    color: aliceblue;
    font-weight: bold;
}

.dropdown-menu {
    width: 12rem;
    background-color: #1a151bef;
}

.checkboxes input {
    width: 1.3rem;
    height: 1.3rem;
}

body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-track {
    background: rgb(206, 198, 226);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(217 3 104);
    border-radius: 1.2rem;
}

@media screen and (max-width: 992px) {
    .collapse {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 670px) {
    .bton {
        width: 16rem;
    }
}

@media screen and (max-width: 663px) {
    .card-details {
        width: 95%;
        height: 40rem;
    }

    .card-img-personal-details {
        width: 100%;
        height: 40%;
        object-fit: cover !important;
    }

    .card-body-details {
        width: 100%;
    }

    .contact-w {
        width: 95% !important;
    }

    #carouselExampleDark {
        display: none;
    }
}

@media screen and (max-width: 446px) {
    .checkboxes {
        order: 1;
    }

    td,
    th,
    tr {
        font-size: 1rem;
    }
}